@model IEnumerable<MvcApplication1.Models.BidRequest>

@{
    ViewBag.Title = "BidRequest";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<head>
    <link href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/prettyPhoto.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/price-range.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/animate.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/main.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/responsive.css" rel="stylesheet">
</head>
<h2>BidRequest</h2>
<section  id="form">



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            Product Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxTime)
        </th>
        <th></th>
         <th>Select Operation</th>
         
    </tr>

@foreach (var item in Model) {

    var base64 = Convert.ToBase64String(@item.ImageData);
    var x = String.Format("data:image/jpg;base64,{0}", base64);
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
         <td>
             <img src='@x' alt="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxTime)
        </td>
        <td>
            @Html.ActionLink("Post in Live Bid Home", "postreq", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Deletereq", new { id=item.ID })
        </td>
    </tr>
}

</table>
</section>